neurosborka/n8n-pgvector/pgvector-rag-chat.json
{
  "name": "PGVector · RAG chat (Telegram)",
  "nodes": [
    {
      "id": "8115bff4-e013-44d4-89ad-11344879931a",
      "name": "Sticky Note 145aa000",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [288, 688],
      "parameters": {
        "content": "## PGVector · RAG chat (Telegram)\n\nTelegram-бот, который отвечает на вопросы по вашей базе документов в PGVector.\n\n**Сценарий:**\n1. Пользователь пишет боту в Telegram.\n2. AI-агент решает: использовать «Базу знаний» или ответить напрямую.\n3. Если использует — делает семантический поиск (топ-5 фрагментов) и отвечает по ним.\n4. Ответ уходит в Telegram реплаем.\n\n**Перед запуском:**\n1. Создайте бота через @BotFather, скопируйте токен в credentials «Telegram Bot».\n2. Подключите OpenAI и Postgres-credentials (те же, что в ingest).\n3. Активируйте workflow — Telegram автоматически зарегистрирует webhook.\n\n**Чем заменить OpenAI (бесплатно/локально):**\n- «GPT-модель» → узел «Ollama Chat Model» (нужен запущенный Ollama).\n- «Эмбеддинги OpenAI (RAG)» → «Embeddings Ollama» с `nomic-embed-text` или `bge-m3`.\n- ВАЖНО: модель эмбеддингов в RAG-боте и в ingest-workflow ДОЛЖНА совпадать (название + размерность), иначе поиск работать не будет.",
        "color": 4,
        "width": 840,
        "height": 580
      }
    },
    {
      "id": "683fd5ac-2614-42cb-9f91-6d74abdb0f25",
      "name": "Сообщение в Telegram",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [0, 208],
      "parameters": { "updates": ["message"] },
      "webhookId": "eeac0542-7c27-4d4b-9c75-8d9eb68d0a00"
    },
    {
      "id": "83e432d1-3406-437d-948c-85e19e04ddc3",
      "name": "RAG-ассистент",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [224, 208],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Ты — ассистент компании. У тебя есть доступ к инструменту «База знаний (PGVector)» — это семантический поиск по внутренним документам компании.\n\nПравила:\n1. На любой содержательный вопрос сначала вызывай инструмент «База знаний». На небольшие приветствия / благодарности — отвечай напрямую.\n2. Отвечай ТОЛЬКО на основе найденных фрагментов. Если в базе нет ответа — честно скажи «не нашёл в базе» и предложи переформулировать.\n3. В конце ответа добавляй короткий список источников (поле metadata.source найденных фрагментов), если они есть.\n4. Пиши по-русски, кратко (3–6 предложений), без воды.",
          "maxIterations": 5
        }
      }
    },
    {
      "id": "4b76c6bb-c53c-446e-9d88-7d45e83f8962",
      "name": "GPT-модель",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [240, 432],
      "parameters": {
        "model": { "__rl": true, "mode": "list", "value": "gpt-5-mini" },
        "options": { "temperature": 0.3 }
      }
    },
    {
      "id": "7b33e571-e2e3-423c-a99e-e6df7cf8fe2d",
      "name": "База знаний (PGVector)",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [368, 432],
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Поиск в базе знаний компании. Используй ВСЕГДА, когда вопрос касается внутренних документов, инструкций, проектов или клиентов. На вход подавай саму суть вопроса.",
        "tableName": "n8n_vectors",
        "topK": 5,
        "includeDocumentMetadata": true
      }
    },
    {
      "id": "7f07d4d8-570a-42e9-80f0-5079997ad691",
      "name": "Эмбеддинги OpenAI (RAG)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [368, 640],
      "parameters": {
        "model": "text-embedding-3-small",
        "options": { "dimensions": 1536 }
      }
    },
    {
      "id": "58a0432e-60ce-4779-9442-bc0d951d23e7",
      "name": "Ответить в Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [576, 208],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Сообщение в Telegram').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false,
          "reply_to_message_id": "={{ $('Сообщение в Telegram').item.json.message.message_id }}"
        }
      },
      "webhookId": "a73f9517-f276-407a-904a-0f80767d34b0"
    }
  ],
  "pinData": {},
  "connections": {
    "Сообщение в Telegram": {
      "main": [[{ "node": "RAG-ассистент", "type": "main", "index": 0 }]]
    },
    "RAG-ассистент": {
      "main": [[{ "node": "Ответить в Telegram", "type": "main", "index": 0 }]]
    },
    "GPT-модель": {
      "ai_languageModel": [[{ "node": "RAG-ассистент", "type": "ai_languageModel", "index": 0 }]]
    },
    "База знаний (PGVector)": {
      "ai_tool": [[{ "node": "RAG-ассистент", "type": "ai_tool", "index": 0 }]]
    },
    "Эмбеддинги OpenAI (RAG)": {
      "ai_embedding": [[{ "node": "База знаний (PGVector)", "type": "ai_embedding", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "cae0c581-c40f-43d2-b55a-09c955316f15",
  "meta": { "templateCredsSetupCompleted": false },
  "id": "pgvector-rag-chat",
  "tags": []
}
